@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --primary-clr: hsl(226, 100%, 75%);
    --secondary-clr: hsl(229, 100%, 65%);
    --dark-clr: hsl(226, 100%, 20%);
    --shadow-clr: hsl(226, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Playpen Sans', cursive !important;
    transition: all 0.3s ease !important;
}

*::selection {
    background-color: var(--dark-clr);
    color: white !important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--dark-clr);
    box-shadow: 0px 0px 10px 0px var(--shadow-clr);
}
::-webkit-scrollbar-track {
    background-color: var(--primary-clr);
    box-shadow: 0px 0px 10px 0px var(--shadow-clr) inset ;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-clr);
}

.container-sm {
    width: 1000px !important;
    height: 100%;
}

.card {
    background-color: rgb(230, 240, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px var(--shadow-clr);
}

.navbar {
    box-shadow: 0px 0px 10px 0px var(--shadow-clr);
    font-size: large;
    font-weight: 1000;
}

.navbar .container-sm {
    background-color: #fff;
}

.navbar a {
    color: var(--primary-clr);
}

.navbar a:hover {
    color: var(--dark-clr);
}

.about-me {
    background-color: var(--primary-clr);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.my-work {
    background-color: var(--primary-clr);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.contact-me {
    background-color: var(--primary-clr);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
